* {
    margin: 0px 0px 0px 0px;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
}

@keyframes scrollBar {
    100% {
        transform: translate(100%);
    }
}

body {
    display: grid;
    grid-auto-rows: auto;
    background-color:#f6d9f7;
}
/*Navigation and Header*/

.header {
    color: hsl(0, 100%, 50%);
    box-sizing: border-box;
    height: 50vh;
    width: 100%;
    margin-top: 0;
    z-index: 1;
    position: relative;
    display: block;
}

.background_color {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    z-index: 0;
    position: absolute;
    top: 0rem;
    right: 0rem;
    left: 0rem;
}

.box1 {
    box-sizing: border-box;
    height: 70vh;
    width: 60vw;
    z-index: 0;
    background-color: #f6d9f7;
    position: relative;
    overflow-x: hidden;
}

.box2 {
    box-sizing: border-box;
    height: 70vh;
    width: 40vw;
    z-index: 0;
    background-color: hsl(0, 100%, 50%);
    position: relative;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
}

a {
    text-decoration: none;
    color: #f6d9f7;
}

a:hover {
    background-color: #f6d9f7;
    color:hsl(0, 100%, 50%);
    border-radius: 50%;
    padding: 0.5rem;
}

.name {
    padding: 2rem;
    font-family: "Oswald", sans-serif;
}

.navigation {
    padding: 2rem;
}

.options {
    color: #f6d9f7;
    list-style: none;
    display: flex;
    justify-content: space-between; 
    column-gap: 2.5rem;
    font-family: "Oswald", sans-serif;
}

.intro_to_me {
    padding-top: 6rem;
    padding-left: 2rem;
    z-index: 1;
    position: relative;
}

.intro_copy {
    box-sizing: border-box;
    width: 41vw;
    height: auto;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
}

p {
    font-family: "Open Sans", sans-serif;
}

.code{
    font-family: "DotGothic16", monospace, sans-serif;
    letter-spacing: .3rem;
    font-size: 3rem;
}

/*Graphic Elements in Header*/

.headshot {
    position: absolute;
    left: 56vw;
    top: 10vh;
    z-index: 2;
}

.box3 {
    box-sizing: border-box;
    width: 25vw;
    height: 30vh;
    background-color: #f6d9f7;
    position: absolute;
    left: 60vw;
    top: 14vh;
    z-index: 1;
}

.purple_zag {
    position: absolute;
    left: 87vw;
    top: 20vh;
}

.red_zag {
    position: absolute;
    left: 50vw;
    top: 40vh;
}

#mix_dots {
    position: absolute;
    z-index: 0;
    top: 5vh;
    left: 46.3176vw;
}

#purple_dots {
    position: absolute;
    z-index: 0;
    left: 70vw;
    top: 35vh;
}

/*Scroll*/
#banner {
    background-color: hsl(0, 100%, 50%);
    color: #f6d9f7;
    width: 100%;
    height: auto;
    position: relative;
    top: 20vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 3;
}

#banner p {
    font-family: "Oswald", sans-serif;
    animation: scrollBar 10s linear infinite;
}

/*Clients*/
.clients {
    display: none;
    position: relative;
    top: 20vh;
    padding: 2rem;
    box-sizing: border-box;
    margin-top: 3rem;
}

/*Skills*/ 
.skills {
    display: none;
    position: relative;
    top: 20vh;
    padding: 2rem;
}

/*About*/
.about_me {
    position: relative;
    top: 20vh;
    padding: 2rem;
    background-color: #f6d9f7;
    display: block;
}

.about_me p {
    padding: 1rem;
}

.about_me h2 {
    padding-left: 1rem;
}

.code_about {
    font-family: "DotGothic16", monospace, sans-serif;
    letter-spacing: .1rem;
    font-size: 1rem;
}  

/*Footer*/
footer {
    position: relative;
    top: 20vh;
    padding: 2rem;
    background-color: hsl(0, 100%, 50%);
    color: #f6d9f7;
}